.mainDiv {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainHeading {
  font-size: 32px;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  line-height: 48px;
  margin-bottom: 0px;
}
.subHeading {
  font-family: "Open Sans";
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.contentDiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* z-index: -1; */
}
.menuItemDiv {
  position: absolute;
  top: 2rem;
  left: -16rem;
  z-index: 2;
}
.menuItem {
  display: flex;
  align-items: center;
  height: 110px;
  width: 590px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(239, 239, 239, 1);
  border-radius: 16px;
  padding: 0px 1rem;
  margin: 1rem 0px;
  box-shadow: -2px 4px 32px 0px rgba(235, 235, 235, 0.6);
}

.imgDiv {
  height: 52px;
  width: 52px;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(245, 245, 245, 1);
  margin-right: 8px;
}
.imgDiv img {
  height: 24px;
  width: 24px;
  object-fit: cover;
}
.textDiv {
  text-align: left;
  margin-left: 8px;
}
.textDiv h1 {
  margin: 4px;
}
.textDiv p {
  margin: 4px;
}
.teacherImg {
  width: 62%;
  height: 61%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 16px;
  position: relative;
  right: -17rem;
  padding: 16px;
  z-index: -1;
}
.teacherImg {
  width: 90%;
  height: 89%;
}

@media (min-width: 200px) and (max-width: 1200px) {
  /* … */
  .contentDiv {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* position: relative; */
    /* z-index: -1; */
  }
  .menuItemDiv {
    position: static;
    /* margin-left: 1rem; */
  }
  .teacherImg {
    display: none;
    width: 80vw;
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(249, 249, 249, 1);
    border-radius: 16px;
  }
  .teacherImg {
    width: 90%;
    height: 90%;
  }
  .textDiv h1 {
    margin: 4px;
    text-align: center;
  }
  .textDiv p {
    margin: 4px;
    text-align: center;
  }
  .menuItem {
    display: flex;
    align-items: center;
    height: 150px;
    width: 80vw;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 16px;
    padding: 0px 1rem;
    margin: 1rem 0px;
    box-shadow: -2px 4px 32px 0px rgba(235, 235, 235, 0.6);
  }
}
